  /*DO NOT CHANGE BELOW (until line 180)*/

  /*topnav */
  .topnav {
      background-color: white;
      top: 0;
      width: 100%;
      overflow: visible;
      position: fixed;
      z-index: 1;
  }

  .logo{
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 60px;
    top: 0;
  }

  .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 16px;
      margin-top: 20px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: rgba(0,0,0,0.2);
      color: black;
    }

    .topnav a.split{
      float: right;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
      display: none;
    }

    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
  }

    /*dropdown*/
  .dropdown {
    float: right;
    overflow: hidden;
    margin-top: 20px;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
    }
    
    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: lightgray;
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: 0%;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      margin-top: 0;
    }
    
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    /*topnav*/

    /**/
    /**/
    /**/

    /*bottom nav */
    .bottomnav{
      background-color: #003261;
      overflow: hidden;
      bottom: 0;
      position: fixed;
      width: 100%;
      height: 30px;
      text-align: center;
      margin: auto;
    }

    .bottom-logo{
      float: right;
      height: 30px;
      margin-top: 3px;
      margin-right: 1%;
    }

    .bottominfo{
      font-size: 10px;
      color: white;
    }

    .bottomcredit{
      font-size: 10px;
      float: left;
      margin-left: 1%;
      margin-top: 7px;
      color: white;
    }
    /*bottom nav */

    .last-logo{
      width: 30%;
      height: 15%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

  /*DO NOT CHANGE ABOVE*/


    

  /* Slideshow container */
  .slideshow-container {
      margin-top: 90px;
      max-width: 100%;
      position: relative;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .caption {
    color: black;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: left;
    font-size: 5vw;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .caption2{
    color: black;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: left;
    font-size: 4vw;
    margin-left: 10px;
    background-color:rgba(255, 255, 255, 0.7);
  }


  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* Slideshow container */

  /**/
  /**/
  /**/

  /*container-who */
  .container-who{
    padding: 5px 5px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .text-who{
    padding: 20px;
    font-size: 35px;
    color: black;
    padding-top: 0px;
    text-align: center;
  }
  /*container-who */

  /**/
  /**/
  /**/

  /*container-info */
  .grid-info{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin-left: 10%;
    margin-right: 10%;
  }

  .text-info{
    margin: auto;
    text-align: center;
    font-size: 30px;
  }
  /*container-info */
  
  /**/
  /**/
  /**/

  /*container-value */
  .title-value{
    font-size: 45px;
    text-align: center;
    color: navy;
  }

  .grid-value{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
  }

  .card-value {
    max-width: 300px;
    margin: auto;
    border: 1px solid navy;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .head-value{
    font-size: 30px;
    color: white;
    margin-top: 5px;
    background-color: #003261;
  }

  .desc-value{
    margin-bottom: 5px;
    margin-top: -10px;
    color:#717171;
  }
  /*container-value */

  /**/
  /**/
  /**/

   /*container-mission */
  .container-mission{
    display: flex;
    align-items: center;
    justify-content: center
  }

  .title-mission{
    font-size: 35px;
    color: navy;
    margin-left: 10%;
  }

  .text-mission{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 5%;
  }

  .img-mission{
    max-width: 35%;
    max-height:25%;
    margin-right: 7%;
    border: 5px solid #003261;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  }
  /*container-mission */

  /**/
  /**/
  /**/

  /*container-partner */
  .title-partner{
    font-size: 35px;
    color: navy;
    text-align: center;
  }

  .grid-partner{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    margin-left: 5%;
    margin-right: 5%;
  }

  .img-partner{
    max-width: 80%;
    max-height: 80%;
    margin: auto;
  }
  /*container-partner */

  /**/
  /**/
  /**/

  /*container-weare */
  .grid-weare{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin-left: 5%;
    margin-right: 5%;
  }

  .we-are-one{
    animation-name: appear;
    animation-duration: 6s;
    animation-delay: 1s;
    color:white;
    font-size: 35px;
    padding-left: 3%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    text-align: center;
  }

  .we-are-two{
    animation-name: appear;
    animation-duration: 6s;
    animation-delay: 2s;
    color:white;
    font-size: 35px;
    padding-left: 3%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    text-align: center;
  }

  .we-are-three{
    animation-name: appear;
    animation-duration: 6s;
    animation-delay: 3s;
    color:white;
    font-size: 35px;
    padding-left: 3%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    text-align: center;
  }

  .we-are-four{
    animation-name: appear;
    animation-duration: 6s;
    animation-delay: 4s;
    color:white;
    font-size: 35px;
    padding-left: 3%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    text-align: center;
  }

  /*appear animation for weare */
  @keyframes appear {
    from {color: white}
    to {color: navy;}
  }
  /*container-weare */








