.logo{
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 60px;
    top: 0;
}


.topnav {
    background-color: white;
    top: 0;
    width: 100%;
    overflow: visible;
    position: fixed;
    z-index: 1;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(0,0,0,0.2);
    color: black;
  }


  .topnav a.split{
    float: right;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
}

  /*dropdown*/
.dropdown {
  float: right;
  overflow: hidden;
  margin-top: 20px;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightgray;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 0;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }



/*bottom nav */
  .bottomnav{
    background-color: #003261;
    overflow: hidden;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    text-align: center;
    margin: auto;
  }

  .bottom-logo{
    float: right;
    height: 30px;
    margin-top: 3px;
    margin-right: 1%;
  }

  .bottominfo{
    font-size: 10px;
    color: white;
  }

  .bottomcredit{
    font-size: 10px;
    float: left;
    margin-left: 1%;
    margin-top: 7px;
    color: white;
  }
  /*bottom nav */
  

  /*prez -------------------------------------------------------*/

  .top_text {
    font-size: 60px;
    text-align: center;
    color: white;
    background-color: #003261;
    padding: 3%;
  }

  .events, .collaborators{
    font-size: 40px;
    text-align: center;
    color: navy;
  }

  .collabs{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .collabstwo{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .comp-logo{
    max-width: 80%;
    max-height: 80%;
    margin: auto;
  }

  .comp-logo-two{
    max-width: 75%;
    max-height: 75%;
    margin: auto;
  }

  .eventcards{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin-left: 5%;
    margin-right: 5%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
  }

  .photo{
    margin-top: 10px;
  }

  .title{
    font-size: 20px;
    color: navy;
  }

  .last-logo{
    width: 30%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
  }

